.servicios__aparts__general {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    text-shadow: black 0.1em 0.1em 0.2em;
    margin: 20px 20px;
}