.servicios__aparts__general {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    
    height: 100%;
    border: 2px solid black;
    margin: 20px 20px;
}