
.seccion__inicio {
    margin-top: 50px;
}
.carousel-item {
    position: relative;
    text-align: center;

    img {
        height: 450px;
        top: 0;
    }
}

.texto__carousel {
    color: white;
    font-size: 5rem;
    position: absolute;
    top: 40%;
    left: 40%;
    transform: translate(-50%, -50%);
    text-shadow: black 0.1em 0.1em 0.2em;
}

#tituloindex {

    text-transform: uppercase;
    text-shadow: black 0.1em 0.1em 0.2em;
    text-align: right;
    margin-right: 20px;
    
}

#imglogoloto {
    height: 480px;
    width: auto;
}

.titulo__principal__index {
    position: relative;
    
    text-align: center;
    margin-bottom: 20px;
    &::before {
        content: "";
        position: absolute;
        left: 20%;
        
        bottom: 0;
        width: 60%;
    }
}

.titulo__principal__index--borde {
    position: relative;
    
    text-align: center;
    margin-bottom: 20px;
    &::before {
        content: "";
        position: absolute;
        left: 20%;
        
        bottom: 0;
        width: 60%;
        
        border-bottom: 1px solid $clrseparador;
    }
}

.btn__index__servicios {
    left: 20%;
    line-height: 1.2rem;
    font-size: 1.5rem;
    color: black;
    border-radius: 10px;    
    width: 60%;
    background: $clrbtn !important;
    text-decoration: none;

    &:hover {
        background: $colorbtnhover !important;
        color: $clrbtntxthover;
        transition: 1s ease;
    }
}

.seccion__servicios__blanco {
    padding-top: 30px;
    margin-top: 10px;
    color: $clrtxtserv;
}

.logo__inicio {
   
    height: 250px;
    width: 250px;
}

.seccion__index__servicios {
    padding-top: 30px;
    margin-top: 10px;
    color: $clrtxtserv2;
    background-image: linear-gradient(to top, #7028e4 0%, #e5b2ca 100%);
}

.index__subtitulo {
    margin-bottom: 30px;
    padding-top: 10px;
    font-size: 1.8rem;
    text-shadow: black 0.1em 0.1em 0.2em;
    
}

.titulo__index {
    font-size: 1.5rem;
    line-height: 1.5;

}

.services-svg {
    height: auto;
    width: 50px;
}

.titulo__aparts {

    display: flex;
    position: relative;
    margin-left: 20px;
    margin-right: 20px;
    padding-bottom: 30px;
    justify-content: center;
    
    .index__aparts {
        
        height: auto;

        .index__apart2 {
            margin: 5px 5px;
            padding: 5px 5px;
            box-sizing: border-box;
        }
    
    }

    .index__aparts__texto {
        border: 2px solid black;
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        color: white;
        z-index: 99;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
    }

    &::before {
        content: "";
        position: absolute;
        left: 20%;
        
        bottom: 0;
        width: 60%;
        
        border-bottom: 1px solid $clrseparador;
    }
}

.index__titulo__aparts {
    font-size: 3rem;
    text-shadow: black 0.1em 0.1em 0.2em;
    margin-bottom: 20px;
}

.index__titulo__aparts--grande {
    font-size: 4rem;
    text-shadow: black 0.1em 0.1em 0.2em;
}

.card-title {
    font-size: 2.5rem !important;
    text-transform: uppercase;
    text-shadow: black 0.1em 0.1em 0.2em;
}

.card-text {
    font-size: 1.5rem !important;
    text-shadow: black 0.1em 0.1em 0.2em;
}

@media (max-width: 1248px) {
    .texto__carousel {
        font-size: 4.5rem;
    }
}

@media (max-width: 1190px) {
    #imglogoloto {
        height: 400px;
        width: auto;
    }
}

@media (max-width: 992px) {
    #imglogoloto {
        height: 480px;
        width: auto;
    }
}

@media (max-width: 758px) {
    .texto__carousel {
        font-size: 4rem;
    }

    #imglogoloto {
        height: 400px;
        width: auto;
    }
}

@media (max-width: 674px) {
    .texto__carousel {
        font-size: 3.8rem;
    }
}

@media (max-width: 641px) {
    .texto__carousel {
        font-size: 3.4rem;
    }
}

@media (max-width: 521px) {
    .texto__carousel {
        font-size: 3rem;
    }
}

@media (max-width: 460px) {
    .texto__carousel {
        font-size: 2.5rem;
    }

    #tituloindex {
        font-size: 3rem;
    }
}