section {
    margin-top: 40px;
}

h1 {
    font-size: 4rem;
}

body {
    overflow-x: hidden;
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
    background: white;

    &::before {
        content: "";
        width: 100%;
        min-height: 100%;
        position: absolute;
        background-image: url('../../img/Logo/loto-solo6.png');
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
        top: 0;
        left: 0;
        z-index: 0;
        

        opacity: 0.1;
    }
    
}

