header {

    .barra {
        background: $fondobody2;
        width: 100%;
        height: 100px;
        position: fixed;
        margin: 0 0;
        top: 0;
        z-index: 1000;
        

        a {
            img {
                display: inline;
                               
            }
        }
        ul {
            text-align: center;
            
            
            li {
                display: inline-block;
            }
        }

        .header__navmenu {
            li {

                height: 80px;
                
            
                a {
                    color: $letrasmenu;
                    font-size: 1.5rem;
                    padding: 7px 13px;
                    
                    text-transform: uppercase;
                    border-right: 3px solid $separadormenu;
        
                    &:hover {
                        color: $hovermenu;
                        transition: 0.5s;
                
                    }
                }
            }
        }
    }
}

.active__menu {
    border-bottom: 3px solid $menuactive;
}

#contacto, #nosotros {
    border-right: none;
}

#letra__piray {
    height: 120px;
    width: 120px;
    background: $fondobody3;
    margin-bottom: 20px;
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%;
}




.toggle-button{
    float: right;
    line-height: 80px;
    margin-top: 20px;
    margin-right: 20px;
    cursor: pointer;
    display: none;

}

#abrir-cerrar {
    display: none;
}

@media (max-width: 850px) {

    .toggle-button {
        display: block;
    }

    .header__navmenu {
        position: fixed;
        width: 100%;
        height: calc(100% - 70px);
        background: white;
        bottom: -100%;
        text-align: right;
        transition: all 0.5s;
        display: flex;
        flex-direction: column;
        }

    li {
        display: flex;
        flex-direction: column;
        margin: 10px 0;
        line-height: 30px;
    }

    #inicio, #nosotros, #complejo, #contacto {
        color: #1e858e;
        font-size: 1.2rem;
        
        text-transform: uppercase;
        border-right: none;
    
        &:hover {
            color: black;
            transition: 0.5s;
        }
    }
    

    input#abrir-cerrar { 
        visibility:hidden;
        position: absolute;
        top: -9999px;
    }
    
    .toggle-button {
        display:block;
        width:50px;
        height:50px;
        border:1px solid #1e858e;
        position:relative;
        cursor: pointer;
        box-sizing: border-box;
    }

    .toggle-button:before, .toggle-button:after {
        position:absolute;
        display:block;
        content:" ";
        width: calc(100% / 2);               
        box-sizing: border-box;
        left: calc(100% / 4);
        transition: all 0.2s ease-out;
    }

    .toggle-button:before {
        top: calc(100% / 4);
        height:calc(100% / 4);
        border-top:1px solid #1e858e;
        border-bottom:1px solid #1e858e;
        background-color: transparent;
    }

    .toggle-button:after {
        height:1px;
        background-color:#1e858e;
        bottom:calc(100% / 4);
    }

    input#abrir-cerrar:checked + .toggle-button:before, input#abrir-cerrar:checked + .toggle-button:after {
        top:calc(100% / 2);
        height:1px;
        border-bottom:0;
    }

    input#abrir-cerrar:checked + .toggle-button:before {
        transform: rotate(45deg); 
    }

    input#abrir-cerrar:checked + .toggle-button:after {
        transform: rotate(-45deg);
    }
    
    input#abrir-cerrar:checked ~ .header__navmenu {
    bottom: -5%;
    }

    #letra__piray {
        background: none;
        align-self: center;
        margin-bottom: 30px;
    }
    
}

@media (max-width: 460px) {

    #inicio, #nosotros, #complejo, #contacto {
        color: #1e858e;
        font-size: 1rem;
        text-transform: uppercase;
    
        &:hover {
            color: black;
            transition: 0.5s;
        }
    }

    #letra__piray {
        margin-left: 20px;
    }
}