

/* Header */
$fondoprimario: white;
$letrasmenu: white;
$separadormenu: #cf74f0;
$menuactive: #6f22d6;
$hovermenu: #6f22d6;
$letramenumobile: rgb(59, 6, 83,);

/* Body */
$fondobody:white;
$clrletrabody: black;
$fondobody2: linear-gradient(black, rgb(59, 6, 83,));
$fondobody3: linear-gradient(rgb(11, 1, 15), rgb(63, 6, 90));
$clrbtn: #FFEB3B;
$colorbtnhover: #0CECDD;
$clrbtntxthover: #6f22d6;
$clrtxtserv: black;
$clrtxtserv2:white;

/* Formulario */

$clrseparador: #cf74f0;
$clrbotonenviar: #cf74f0;
$clrenlace: #1e858e;
$bordeactivo: #cf74f0;
$clrformulario: #6f22d6;
$clrtxtbtnform: white;

/* Footer */
$fondofooter: white;
$letrafooter: #6f22d6;
$separadorfooter: #cf74f0;
$clrsocialimg:#E040FB;
$clrsocialimghihvr: #0CECDD ;
$clrsocialfooter: #FFFFFF;
$hoversocialfooter: #3f08ae;
