

/* Header */
$fondoprimario: white;
$letrasmenu: #1e858e;
$separadormenu: #a6cf35;
$menuactive: #a6cf35;
$hovermenu: rgb(9, 223, 80);

/* Body */
$fondobody: white;
$clrletrabody: black;


/* Footer */
$fondofooter: white;
$letrafooter: #1e858e;
$separadorfooter: #1e858e;
$hoversocialfooter: #1e858e;
